@page "/"

<PageTitle>Index</PageTitle>

<h1>Setting your project up to use static file compression</h1>

<ul>
    <li>Include the <code>CompressedStaticFiles.AspNetCore</code> nuget package in your project;</li>
    <li>Add the compressed static files service by calling <code>builder.Services.AddCompressedStaticFiles();</code> in <code>Program.cs</code>;</li>
    <li>Replace <code>app.UseStaticFiles();</code> with <code>app.UseCompressedStaticFiles();</code> in Program.cs;</li>
    <li>Add the lines at the bottom of this page to your CSPROJ file just before the closing; and</li>
    <li>
        We also tend to use standard <a href="https://docs.microsoft.com/en-us/aspnet/core/performance/response-compression?view=aspnetcore-6.0" target="_blank">ASP.NET response compression</a> to compress everything
        that is not a pre-compressed static file. We have added commented out source for this in this project's <code>Program.cs</code> file. Note that
        pre-compressed static files are served in preference to dynamically compressing responses. This is good because pre-compression is faster at runtime
        and also generates smaller response payloads.
    </li>
</ul>

<p>Some compression metrics for <code>bootstrap.min.css</code>:</p>
<ul>
    <li style="color: red;">Uncompressed response size: 163 kB;</li>
    <li style="color: darkorange;">Dynamic compressed response size (Brotli): 35.5 kB; and</li>
    <li style="color: green;">Pre-compressed response size (Brotli): 17.5 kB: SUCCESS!</li>
</ul>

<h1 style="margin-top: 48px;">How to detect file compression</h1>

<p>
    To demonstrate the compressed files execute the 'LocalBuild.cmd' at the root of this repository and follow
    the instructions to browse to the demonstration.
</p>
<p>
    Press F12 to enter your browser's development tools and select the network tab (we did this on Edge here).
    Click any css or js file (except for blazor.server.js, which as an ASP.NET framework file isn't compressed)
    and you will see that either Brotli or GZIP compression has been applied if your browser supports compression.
    The screenshot below shows how to detect this.
</p>

<img src="images/compression-evidence.png" alt="Demonstration of Brotli compressed file download" style="width: 1020px;">

<h1 style="margin-top: 48px;">CSPROJ code to compress files</h1>

<p>
    The following code block can be added to the end of your CSPROJ before the closing <code>&lt;/Project&gt;</code> line.
    You can copy this block of code from here or see it working in this example website's CSPROJ file.
</p>

<pre><code>
	<!--Compression directives (Note that the patterns are relative to wwwroot)-->
	&lt;PropertyGroup&gt;
		&lt;CompressionIncludePatterns&gt;$(CompressionIncludePatterns);**/*.css;**/*.js&lt;/CompressionIncludePatterns&gt;
		&lt;BuildCompressionFormats&gt;gzip;brotli&lt;/BuildCompressionFormats&gt;
		&lt;PublishCompressionFormats&gt;gzip;brotli&lt;/&lt;PublishCompressionFormats&gt;
	&lt;/PropertyGroup&gt;
</code></pre>

<h1 style="margin-top: 48px;">Attribution</h1>

<p>Thanks to the following:</p>
<ul>
    <li>This project is a fork of Peter Andersson's from whose original <a href="https://github.com/AnderssonPeter/CompressedStaticFiles" target="_blank">CompressedStaticFiles repo</a>; and</li>
</ul>
